.banner {
  position: relative;
  /* border: 10px solid red; */
  top: -50px;
  height: 100vh;
  background-color: #fff;
  color: #333;
}

.banner-video {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* margin-top: -130px; */
}

.banner-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-overlay {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  /* padding: 20px; */
  text-align: left;
}

.header-overlay h2 {
  margin: 0;
  padding: 0;
}

.header-text {
  font-size: 8rem;
  color: white;

}


.zigzag-section {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 2rem;
  height:80vh;
}

.zigzag-image img,
.zigzag-image2 img {
  width: 100%;
  display: block;
  filter: grayscale(20);
}

.zigzag-image {
  width: 55%;
  order: 1;
  /* border: 1px solid red; */
}

.zigzag-text {
  width: 45%;
  order: 2;
  /* border: 5px solid yellow; */
  margin-right: 1.5rem;
}


.zigzag-image2 {
  width: 55%;
  order: 2;
  flex-shrink: 5;
  /* border: 5px solid blue; */
}


.zigzag-text2 {
  width: 45%;
  order: 1;
  flex-shrink: 1;
  /* border: 5px solid pink; */
  margin-left: 1.5rem;
}

.zigzag-text2 h2,
.zigzag-text h2 {
  font-size: 3rem;
  font-family: Ysabeau Bold;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.03rem;
}

.zigzag-text2 p,
.zigzag-text p {
  font-size: 0.8rem;
}

.zigzag-image,
.zigzag-image2 {
  margin: 0;
}



@media screen and (max-width: 600px) {
  .company-updates h2 {
    font-size: 0.8rem;
  }

  .company-updates p {
    font-size: 0.8rem;
  }

  .header-text {
    font-size: 4rem;
  }

  .header-overlay {
    top: 50%;
    left: 50%;
  }

  .banner-video {
    width: 100%;
  }

  .zigzag-section {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin:0;
    padding:0;
    height:auto;
  }

  .zigzag-image,
  .zigzag-text,
  .zigzag-text2,
  .zigzag-image2 {
    order: initial;
    width: auto;
    margin: 0;
    padding: 0;

  }

  .zigzag-image,
  .zigzag-image2 {
    margin-bottom: 3rem;
  }

  .zigzag-text2 h2,
  .zigzag-text h2 {
    font-size: 2rem;
    margin-bottom:0.4rem;
    margin-top:0;
    padding: 0;
  }

  .zigzag-text2 p,
  .zigzag-text p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

}

@media screen and (min-width: 600px) and (max-width:900px) {

  .header-text {
    font-size: 6rem;
  }

  .header-overlay {
    top: 70%;
    left: 40%
  }

  .zigzag-text2 h2,
  .zigzag-text h2 {
    font-size: 2rem;
  }

  .zigzag-text2 p,
  .zigzag-text p {
    font-size: 0.8rem;
  }

  .zigzag-section {
    height:auto;
  }

  .zigzag-image,
  .zigzag-text,
  .zigzag-text2,
  .zigzag-image2 {
    margin: 0;
    padding: 0;

  }

}