* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: inline;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.3%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.company-updates {
  background-position: center;
  background-size: cover;
  background-image: url("../images/feature-1.png");
  height:70vh;

  display:flex;
  justify-content: center;
  align-items: center;

  text-align:center;

  position:relative; 
    
  }

  .company-updates h2{
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .company-updates span{
    display:block;
  }
  
  .company-updates span:nth-of-type(1){
    font-size:1.5rem;
    font-weight:normal;
}

  .company-updates span:nth-of-type(2){
    font-size:5.5rem;
    
}

  .company-updates-content {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .company-updates p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .company-updates a {
    margin-top: 1rem;
  }
  /* .banner-image {
    max-width: 100%;
    height: auto;
  } */

  .payment-submit-button{
    margin-top:4rem;

  }

  
  @media screen and (max-width: 600px) {
    .company-updates h2 {
      font-size: 1rem;
    }
    
    .company-updates p {
      font-size: 0.8rem;
    }
    

  }
  