/* footer css */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(211, 211, 211, 0.7);
    padding: 1rem;
}

footer:hover,
footer:focus {
    display: flex;
    background-color: rgba(240, 240, 240);
    transition-duration: 0.8s;

}

.footer-content {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Updated to display vertically */
    align-items: flex-start;
    /* Updated to left-align items */
}

li {
    margin: 10px 0;
}

a {
    color: grey;
    text-decoration: none;
    padding: 1rem;
    transition: color 0.3s ease;
}

a:hover {
    color: black;
    text-decoration: underline;
    padding: 1rem;
    transition-duration: 0.8s;
}