body {
  margin: 0;
  font-family: Roobert Regular;
  color: #5f5f5f;
  padding: 0;
  letter-spacing: 0.04rem;

}

/* increasing line spacing */
p {
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

a {

  text-decoration: none;
}

a:hover img,
a:focus img {
  /* filter: opacity(30%); */
  transform: scale(1.06);
  transition-duration: 0.3s;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


input[type="text"]:hover {
  outline: none;
  border-color: #04AA6D;
  box-shadow: 0 0 5px #04AA6D;
}

input[type="text"]:focus {
  outline: none;
  border-color: #04AA6D;
  box-shadow: 0 0 5px #04AA6D;
}


nav ul img{
  width:20px;
}


/* product container  */
.products {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  gap: 1rem;
  flex-wrap: wrap;
  border: none;
}

.products>div {
  transition: box-shadow 0.4s;
  flex: 1;
}

.products>div:hover,
.products>div:focus {
  box-shadow: 3px 3px 0px rgba(97, 97, 97, 0.418);
}

.product-container {
  border: 0.5px solid lightslategray;
}

.product-container-image {
  width: 100%;
  display: block;
  justify-content: center;
  position: relative;
  border-bottom: 0.5px dashed black;
}

.product img {
  width: 100%;
}

.product_description {
  color: rgb(81, 81, 81);
  font-size: 0.8rem;
}

.product-container-info {
  padding: 1rem;
  color: rgb(0, 0, 0);
  /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between; */
}

/* intext link hovering effects  */

.product-container-info h2 {
  font-family: Ysabeau Bold;
  font-size: 1.2rem;
}

/* cited from:https://codepen.io/eehayman/pen/WoWzWd */
.intextLink {
  max-width: 100%;
  color: #04AA6D;
  position: relative;
  text-decoration: none;
  font-weight: lighter;
}

.intextLink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #04AA6D;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.intextLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}



.product-container-price {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bolder;
  font-weight: lighter;
}

.product-container-info p:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}

.overlap {

  position: absolute;
}

/* shopping cart */
.shopping-cart {
  max-width: 1200px;
  margin: 1rem;
  display: flex;
  gap: 3rem;

}

.shopping-cart h3 {
  font-size: 1rem;
}

.cart-bag {
  width: 70%;
}

.cart-summary {
  width: 30%;
}

.cart-item {
  display: flex;
  gap: 1rem;
  border-bottom: 0.5px solid #999;
  padding: 1rem 0;
}

.cart-image img {
  width: 100%;
  min-width: 100px;
}

.cart-image {
  width: 30%;
}

.cart-info {
  width: 70%;
}

.cart-summary>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-info>div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}

.cart-summary>div:nth-of-type(4) {
  border-top: 0.5px solid #555;
  font-weight: bold;
  padding-top: 0.3rem;
}



/* payment form */

input {
  background-color: rgb(255, 255, 255);
  display: block;

}

.payment_form {
  max-width: 40rem;
  padding-bottom: 1rem;
}

.payment_form h2 {
  margin-top: 1rem;
  /* padding-bottom: 1rem; */
  margin-bottom: 0;

}

.payment_form label {
  display: block;
  padding-bottom: 1rem;
  padding-top: 1rem;

}

.payment_form input[type="text"] {
  min-width: 93%;
  padding: 0.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 0.5px solid #777777;
  border-radius: 1px;
  margin-bottom: 1.3rem;

}

.radio-button-for-card {
  display: flex;
  justify-content: left;
  width: 96.5%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.radio-button-for-card label {
  display: flex;
  justify-content: left;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.credit-card-info {
  margin-top: 3rem;
  /* border:1px solid black; */
}

.credit-card-info h2 {
  margin-bottom: 0;
}

.credit-card-info label {
  display: block;
  margin-right: 1rem;
}

/* placeholder layout adjusted  */
.payment_form input::placeholder {
  padding: 0.3rem;
  font-size: 0.8rem;
}

.credit-card-info input[type="text"] {
  min-width: 93%;
  padding: 0.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 0.5px solid #777777;
  border-radius: 1px;
  margin-bottom: 1.3rem;
}

/* this is payment section, submit button effects */
.payment-submit-button {
  min-width: 40%;
  margin-top: 2rem;
  margin-left: 2.5rem;
  justify-content: center;
  background-color: #ccc;
  color: black;
  text-decoration: none;
  font-family: Ysabeau;
  padding: 0.8rem;
  font-size: 0.8rem;
  /* border deleted  */
  border: none;
  display: inline;
}

.payment-submit-button:hover,
.payment-submit-button:focus {
  background-color: #04AA6D;
  color: white;
  text-decoration: none;
  /* transitions on the button */
  transition: background-color 0.5s ease-out;
}

/* footer css */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(211, 211, 211, 0.7);
  padding: 1rem;
  font-size: 0.8rem;
}

footer:hover,
footer:focus {
  display: flex;
  background-color: rgba(240, 240, 240);
  transition-duration: 0.8s;

}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* Updated to display vertically */
  align-items: flex-start;
  /* Updated to left-align items */
}

.footer-content li {
  margin: 10px 0;
}

.footer-content a {
  color: grey;
  text-decoration: none;
  padding: 1rem;
  transition: color 0.3s ease;
}

.footer-content a:hover, .footer-content a:focus{
  color: black;
  text-decoration: underline;
  padding: 1rem;
  transition-duration: 0.8s;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer .column {
  display: grid;
  min-width: 20%;
  margin-bottom: 0.1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* Add the desired gap between the columns */
}

main {
  margin-left: 2rem;
  margin-right: 2rem;
}


@media only screen and (max-width: 600px) {

  .products {
    flex-direction: column;
    /* margin-top: 2rem; */
  }

  /* .product-container{
    flex-direction: column;
    margin-top: 2rem;
  } */
  .shopping-cart {
    flex-direction: column;
  }

  .cart-bag {
    width: 100%;
  }

  .cart-summary {
    width: 100%;
  }


  /* navbar css */
  .menu {
    display: none;
  }

  .burger-icon {
    display: block;
  }
  
  nav{
    display:flex;
    flex-direction: column;
    padding:0.4rem;

  }

  .logo img{
    max-height:0.4rem;
  }

  #toggle:checked~.burger-icon:before {
    content: "\2715";
  }

  #toggle:checked~.menu {
    display: block;
    background-color: #333;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }


  .footer .column {
    width: 100%;
  }


  /* for all the buttons */
  .payment-submit-button{
    width:100%;
    margin-left:0;
  }


}