/* this is for both ready to wear clothes page and customized logo page */
/* *{
    border: black 1px solid;
} */

/* contact us css */

.contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: black;
  margin: 1rem;
}

.contact-section-img {
  margin-left: 8rem;
  order: 1;
}

.contact-section-img img {
  width: 15rem;
}

.contact-text {
  order: 2;
  margin: 0 auto;
  text-align: left;
  padding: 0 4rem;
  min-width: 50%;
}

.contact-text h2 {
  font-size: 2rem;
  letter-spacing: 0.03rem;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.credit-card-info label {
  display: block;
  margin-right: 1rem;
}

/* placeholder layout adjusted  */
.contact-form input::placeholder {
  padding: 0.3rem;
  font-size: 0.8rem;
}

.contact-form input[type="text"] {
  min-width: 93%;
  padding: 0.6rem;
  border: 0.5px solid #777777;
  border-radius: 1px;
  margin-bottom: 1.3rem;
}


.payment-submit-button {
  margin: 1rem 0;
  width: 96%;
}


.container1 {
  position: relative;
  height: 65vh;
  margin-bottom: 4rem;
}


/* .showroom {
  display: grid;
  margin-bottom: 4rem;
  grid-template-columns: 49% 49%;
  margin: 3rem;
  gap: 2rem;
  justify-content: space-between;
} */


/* Hide the images by default */
.mySlides {
  display: flex;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 60px; */
}

.mySlides img {
  width: 100%;
}



.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: rgba(251, 251, 251, 0.8); */
  background-color: #04AA6D;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* for customize logo specific page */
#ProductListing {
  margin-top: 8rem;
}

.customize-info {

  margin: 3rem;
  /* align-items: center; */
}


#ProductListing h2 {
  margin-left: 3rem;
}

.showroom {
  display: grid;
  margin-bottom: 4rem;
  grid-template-columns: 32% 32% 32%;
  margin: 3rem;
  gap: 2rem;
  justify-content: space-between;
}


#logo-zigzag1 {
  margin: 5rem;

}

#logo-zigzag2 {
  margin: 5rem;
  /* margin-left: 2rem;
  margin-right: 2rem; */
}

.zigzag-section {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 4rem;
  /* border: 1px solid red; */
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding-bottom: 0;

}

.zigzag-image img,
.zigzag-image2 img {
  width: 100%;
  display: block;
  filter: grayscale(20);
}

.zigzag-image {
  width: 55%;
  order: 1;
  /* border: 1px solid red; */
}

.zigzag-text {
  width: 45%;
  order: 2;
  /* border: 5px solid yellow; */
  margin-right: 1.5rem;
}


.zigzag-image2 {
  width: 55%;
  order: 2;
  flex-shrink: 5;
  /* border: 5px solid blue; */
}


.zigzag-text2 {
  width: 45%;
  order: 1;
  flex-shrink: 1;
  /* border: 5px solid pink; */
  margin-left: 1.5rem;
}

.zigzag-text2 h2,
.zigzag-text h2 {
  font-size: 3rem;
  font-family: Ysabeau Bold;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.03rem;
}

.zigzag-text2 p,
.zigzag-text p {
  font-size: 0.8rem;
}

.zigzag-image,
.zigzag-image2 {
  margin: 0;
}


/* <<<<<<< Updated upstream */
@media screen and (max-width: 610px) {
  .showroom {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    justify-content: space-between;
    /* border:1px solid red; */
    margin:0;
  }

main{
    margin: 1rem;
    margin-top:10rem;
        /* border:1px solid red; */
  }


  /* zigzag responsiveness */
  .zigzag-section {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;;
  }

  .zigzag-image,
  .zigzag-text,
  .zigzag-text2,
  .zigzag-image2 {
    order: initial;
    width: auto;
    margin: 0;
    padding: 0;

  }

  .zigzag-image,
  .zigzag-image2 {
    margin-bottom: 3rem;
  }

  .zigzag-text2 h2,
  .zigzag-text h2 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
    margin-top: 0;
    padding: 0;
  }

  .zigzag-text2 p,
  .zigzag-text p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .contact-text h2 {
    font-size: 1.4rem;
    margin:0;
    margin-bottom: 1.5rem;
  }
  .contact-text{
    margin:0;
    width:100%;
    padding:1rem;

  }

  .contact-section{
    /* border:1px solid red; */
    padding:0;
    gap:0;
  }

  .contact-section-img {
    margin: 0;
    width: 30%;
  }
  .contact-form{
    align-items: flex-start;
    width:100%;
    /* border:1px solid red; */
    margin:0;
    padding:0;
    gap:0.2rem;
  }
  .contact-form input{
    width:90%;
  }
  .contact-form input::placeholder{
    /* border:1px solid red; */
    padding:0;
    margin:0;
  }
  .contact-form label{
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  .payment-submit-button{
    width:100%;
    margin-top: 0.6rem;
  }


}



@media screen and (min-width: 600px) and (max-width:900px) {

  

  .zigzag-text2 h2,
  .zigzag-text h2 {
    font-size: 2rem;
  }

  .zigzag-text2 p,
  .zigzag-text p {
    font-size: 0.8rem;
  }

/* >>>>>>> Stashed changes */
}