/* Add space and lines between <section> elements. */
section:not([id]) {
  margin: 2em 0;
  padding: 0.5em 0;
  /* border-top: 0.8px dashed #333; */
}

section {
  margin: 0;
  padding: 0;
  /* border-top: 0.8px dashed #333; */
}



/* image as a link effects */
.image-link {
  margin: 2rem;
  max-width: 30%;
  height: auto;
}

/* Add a different hover and focus state styling to the image as a link. */
.image-link:hover,
.image-link:focus {
  filter: opacity(100%)
}

/* Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks. */

p {
  max-width: 100%;

}

/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/





/* navigation bar:change to light grey and green text with underline when hovering */
.header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10000;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff93;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 100;

  color: #000000;
  align-items: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  font-size: 1rem;
  /* border: 1px solid red; */
}

.navbar-main{
  display:flex;
  align-items: flex-end;
  /* justify-content: baseline; */
  margin-left:2rem;
  /* border:1px solid red; */
}
.navbar-middle{
  display:flex;
  justify-content: space-evenly;
}

.navbar-middle .phone-icon{
  display:none;
}

.navbar-middle>div{
  flex-basis:33.3%;
}

.navbar-middle .nav-icon{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap:0.8rem;
  margin:auto;
}

.navbar .navbar-logo{
  margin:0;
  padding:0;
  /* border:1px solid red; */

}


.logo {
  padding-left: 1rem;
  /* flex-grow: 1; */
  /* border: 1px solid red; */
}

.logo img {
  margin:0;
  padding:0;
  max-height: 1.5rem;
  display: flex;

}
.menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  /* align-items: right; */
  padding:0;
  justify-content: space-between;
  margin-right:2rem;
}



.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* border:1px solid red; */

}


nav:hover,
nav:focus {
  display: flex;
  background-color: #ffffff;
  transition-duration: 0.8s;
}

.menu li {
  margin:0;
}

.menu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;

  display: block;
  height: 100%;
  margin-right: 1rem;

  position: relative;
  display: flex;
  align-items: center;
letter-spacing: 0.08rem;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}



/* ask TA about scaling */

.menu li a:hover,
.menu li a:focus {
  color: #04AA6D;
  /* text-decoration: underline; */
  transition-duration: 0.5s;
  transform: scale(1.05);
}



/* for product listing */
.product-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.2rem;
  /* border:1px solid black; */
}

/* image hovering and focus effects */

.product-listing img {
  max-width: 100%;
  height: auto;
  filter: opacity(80%)
}

.product-listing img:hover,
.product-listing img:focus {
  filter: opacity(100%)
}

.product-listing h2 {
  text-align: center;
  font-size: 1rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: lighter;
  color: black;
  margin-bottom: 0;
}



/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ysabeau Bold;
  color: black;
}


/* branding style  */
.brand-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.brand-block {
  background-color: #eeeeee85;
  max-width: 22rem;
  padding: 1.5rem;
  align-items: center;
}

.brand-block h2,
.branding-block h4 {
  margin-bottom: 1rem;
}

.brand-block-p {
  margin-bottom: 1.4rem;
  /* border:1px solid black; */
  margin-top: 1.1rem;
  font-size: 1rem;

}

.brand-block p {
  font-size: 0.8rem;
}

.brand-color-green {
  background-color: #04AA6D;
  padding: 3rem;
  width: 20rem;
  height: auto;
}

.brand-color-greyBlock p {
  color: black;
}

.brand-color-green p,
.brand-color-black p,
.brand-color-greyFont p,
.brand-color-greyBlock p {
  margin: 0;
  font-size: 0.6rem;

}

.brand-color-black {
  background-color: black;
  padding: 3rem;
  width: 20rem;
  height: auto;
}


.brand-color-greyFont {
  background-color: #777b7e;
  padding: 3rem;
  width: 20rem;
  height: auto;
}

.brand-color-black p,
.brand-color-black h2,
.brand-color-greyFont p,
.brand-color-greyFont h2,
.brand-color-green p,
.brand-color-green h2 {
  color: white;
}

.brand-color-greyBlock {
  background-color: #EEEEEE85;
  padding: 3rem;
  width: 20rem;
  height: auto;

}

.brand-img {
  max-width: 100%;
  height: auto;
  filter: grayscale(90%)
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.brandinfo p {
  font-size: 0.9rem;
  max-width: 90%;
  margin-top: 0;

}

.brandinfo h4 {
  margin-bottom: 0.4rem;
}


/* header style css */
.header-box{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:1rem;
  margin-top: 1.8rem;
}
.header-box-line1{
  color:#000000;
  font-size: 3rem;

}
.header-box-line2{
  color:#04AA6D;
  font-size: 3rem;
}

.zigzag-text-header{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:0.5rem;
  max-width: 55%;

}

.zigzag-text-header-line1{
  color:#000000;
  font-size: 3rem;
  margin:0;


}
.zigzag-text-header-line2{
  color:#04AA6D;
  font-size: 3rem;
  margin:0;
}
