.content img {
    position: absolute;
    width: 100vw;
    margin-top: -70px;
    z-index: -30;
    height: 100vh;
}

/* Additional styling for visual appeal */
.content {
    /* position:relative; */
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: -35px;
    color: #ffffff;
    /* border: 2px solid red; */
}


.wistlist-title h1 {
    color: #ffffff;
    font-size: 10rem;
    margin: 0;
    /* 
        border: 2px solid red; */
}

.wistlist-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    /* border: 2px solid red; */
    top: 50%;
    left: 35%;
}

.content p {
    font-size: 1.8rem;
    margin: 0;
}

main {
    margin-bottom: 4rem;
}

.product-container {
    background: linear-gradient(#ffffff7e, #ffffffec);
}

.product-container-info button:nth-of-type(2){
    margin-top:0.1rem;

}

.payment-submit-button {
    /* margin-bottom: 0.1rem; */
    flex:1;
    margin:0;

}
.payment-submit-buttons{
    display: flex;
    gap:1rem;

}

/* .search-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
  }
  
  .search-box input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .search-box button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search:hover .search-box {
    display: block;
  } */

@media screen and (max-width: 600px) {
    .content h1 {
        font-size: 3rem;
        margin: 0;
    }

    .content p {
        font-size: 1rem;
        margin: 0;
    }


    .content img {
        width: auto;
        height: 100vh;
    }

    .wishlist-title {
        top: 70%;
    }
    .product-container-info button{
        flex:1; 
    }

}

@media screen and (min-width: 600px) and (max-width:960px) {
    .content h1 {
        font-size: 5rem;
    }

    .content p {
        font-size: 1.2rem;
    }

    .wishlist-title {
        top: 50%;
    }

    .product-container-info button{
        display:block;
        /* flex:1; */
        width:100%;
    }
}