.content img {
    position: fixed;
    width: 100%;

    margin: 0;
    z-index: -30;
}

/* Additional styling for visual appeal */
.content {
    /* position:relative; */
    display: flex;
    align-items: center;
    margin-top: -160px;
    height: 100vh;
    margin-left: -35px;
    color: #ffffff;
}


nav{
    background-color: #ffffff93;
}

.content h1 {
    color: #ffffff;
    font-size: 8rem;
    margin: 0;
    padding: 20px;
}

.content p {
    font-size: 2rem;
    margin: 0;
}

main {
    margin-bottom: 4rem;
}

.product-container {
    border: 0.5px solid #ffffffb7;
    background-color: #ffffff71;
}

/* .search-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
  }
  
  .search-box input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .search-box button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search:hover .search-box {
    display: block;
  } */